.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper {
  position: relative !important;
}
.swiper-pagination {
  position: absolute !important;
  left: 7rem !important;
  bottom: 7rem !important;
  width: unset !important;
}
