@use "../../scss/" as *;

.card-blog {
  width: 31rem;
  margin-bottom: 5rem;

  position: relative;
  &-overlay {
    @include overlay;
  }

  &-img {
    height: 28rem;
    overflow: hidden;
    border-radius: 5px;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 3rem;
  }
}
