@use "./scss/" as *;

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;

  @include tablet {
    font-size: 80%;
  }

  @include mobile {
    font-size: 60%;
  }
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;

  background-color: #f8f9fa;
  color: $txt-color;

  @include mobile {
    margin-bottom: 3rem;
  }

  overflow-x: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: unset;
}

button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.container-fluid {
  margin: auto;
  max-width: 1440px;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.padding {
  padding: 0 7rem;
}

.white-color {
  color: $primary-color;
}

.gray-color {
  color: $gray-color;
}

.gray-text-color {
  color: $gray-txt-color;
}

.second-color {
  color: $secondary-color;
}

.title {
  font-size: 3.6rem;
}

.sub-title {
  font-size: 1.8rem;
}

@include mobile {
  .title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1.4rem;
  }
}
