$main-bg: #f2f8f7;

$primary-color: #ffffff;
$secondary-color: #d4a373;
$gray-color: #495057;
$txt-color: #6c757d;

$gray-txt-color: #e5e5e5;

$header-height: 8rem;
$header-shrink-height: 6rem;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Lora", sans-serif;
